.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  margin: 20px auto;
  max-width: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

$error-highlight: rgba(230, 60, 52, 0.24);
$error-incorrect: rgba(200, 45, 36, 0.5);

/* 3x3 box */
.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
}

/* Individual cell */
.grid-cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  border: 1px solid #b4daff;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

/* Border For Boxes */
.grid-box:nth-child(1n) {
  border-right: 2px solid #336699;
  border-bottom: 2px solid #336699;
}
.grid-box:nth-child(-n+1) {
  border-top: 2px solid #336699;
}
.grid-row:first-child {
  border-left: 2px solid #336699;
}


/* Styling for input fields */
.grid-cell input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  padding-bottom: 3px;
  margin: 0;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-size: 28px;
  line-height: calc(50px - 3px);
  font-weight: 600;
  background-color: transparent;
  color: #2c6fb2;
  font-family: "Lucida Handwriting", "Comic Sans MS", sans-serif;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
.grid-cell input:focus {
  outline: none;
}

.non-input {
  font-family: Times, "Times New Roman", serif;
  background-color: transparent;
}

.grid-cell.error-row,
.grid-cell.error-col,
.grid-cell.error-box {
  background-color: $error-highlight;
}

.grid-cell.error-row input,
.grid-cell.error-col input,
.grid-cell.error-box input {
  background-color: transparent;
}

.grid-cell.incorrect {
  background-color: $error-incorrect;

  input {
    background-color: transparent;
  }
}

@media (max-width: 767px) {
  .sudoku-grid {
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-cell {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .grid-cell input {
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding-bottom: 2px;
    line-height: calc(40px - 2px);
  }
}

@media (max-width: 480px) {
  .sudoku-grid {
    width: 250px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-cell {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .grid-cell input {
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 2px;
    line-height: calc(30px - 2px);
  }
}
